.elements {
  margin: auto;
  margin-top: 51px;
  max-width: 68.75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
}

@media screen and (max-width: 1024px) {
  .elements {
    margin: 51px 7.5% 0 7.5%;
    max-width: 85%;
    display: grid;
    gap: 17px;
  } 
}

@media screen and (max-width: 768px) {
  .elements {
    max-width: 90%;
    margin: auto;
    margin-top: 36px;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
  }
}

@media screen and (max-width: 425px) {
  .elements {
    margin: auto;
    margin-top: 36px;
    max-width: 88.125%;
    grid-template-columns: 100%;
    gap: 20px;
  }
}