.elements {
  margin: 51px 15.625% 0 15.625%;
  max-width: 68.75%;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 17px;
}

@media screen and (max-width: 1024px) {
  .elements {
    margin: 51px 7.5% 0 7.5%;
    max-width: 85%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 17px;
  } 
}

@media screen and (max-width: 768px) {
  .elements {
    max-width: 90%;
    margin: auto;
    margin-top: 36px;
    grid-template-columns: 48% 48%;
    gap: 17px;
  }
}

@media screen and (max-width: 425px) {
  .elements {
    margin: auto;
    margin-top: 36px;
    max-width: 88.125%;
    grid-template-columns: 100%;
    gap: 20px;
  }
}