.popup__close-button {
  border: none;
  cursor: pointer;
  padding: 0%;
  background-image: url(../../../images/CloseIcon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0);
}

.popup__close-button:hover {
  opacity: 0.6;
}


